{% extends 'layout.html' %}

{% load static %}

{% block title %}
Reset Password
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'accounts/css/password_reset_done.css' %}">
{% endblock styles %}

{% block scripts %}
<script src="{% static 'accounts/js/password_reset.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
    <main>  
        <section class="done-container">
            <div class="password-reset-done">
                <h1>Check your inbox.</h1>
                <p>
                    We've emailed you instructions for setting your password. 
                    You should receive the email shortly!
                </p>
            </div>
        </section>
    </main>
{% endblock content %}