*{
    font-family: sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
    scroll-behavior: smooth;
    --dark-gray: rgba(0,0,0,0.7);
}

*::before, *::after{
    box-sizing: border-box;
}

::-webkit-search-cancel-button{
    display: none;
}

::-ms-reveal{
    display: none;
}

input{
    outline-color: skyblue;
}

html{
    scroll-behavior: smooth;
    position: relative;
    margin: auto;
    line-height: 1.4;
    font-size: 62.5%;
    color: var(--dark-gray);
    background-color: rgba(0, 0, 0, 0.05);
}

#main-wrapper{
    min-height: 80dvh;
    margin-top: 5rem;
    /* margin-bottom: 2rem; */
    font-size: 1.6rem;
}

hr{
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
}

















ul li{
    list-style: none;
}

a{
    color: skyblue;
    text-decoration: none;
    transition: opacity 500ms ease-in-out;
    cursor: pointer;
}

i{
    cursor: pointer;
}

a:hover{
    opacity: 0.5;
}

.loader{
    width: 3rem;
    height: 3rem;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: skyblue;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0);
    }100%{
        transform: rotate(360deg);
    }
}