{% extends 'layout.html' %}

{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'series/css/upload_series.css' %}">
{% endblock styles %}

{% block scripts %}
<script src="{% static 'series/js/upload_series.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<main>
    <div class="wrapper">
        <h1>Upload a series</h1>
        <form action="" enctype="multipart/form-data" id="upload-series-form" novalidate method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <div id="response_msg"></div>
            <div class="loader" style="margin: auto; margin-bottom: 2rem;"></div>
            <button type="submit">Upload</button>
        </form>
    </div>
</main>
{% endblock content %}