main{
    padding: 1rem;
}

.wrapper{
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2rem;
}

.wrapper h1{
    font-size: 3rem;
    color: black;
    margin-bottom: 2rem;
}

.movies-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.movies-list .movie-card {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    color: var(--dark-gray);
}

.movies-list .movie-card img{
    width: 100%;
    object-fit: cover;
}


.pagenation{
    position: relative;
}

.pagenation div{
    margin: auto;
    width: fit-content;
    display: flex;
    gap: 3rem;
}