main{
    padding: 1rem;
}

.wrapper{
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2rem;
    position: relative;
}

.wrapper h1{
    font-size: 3rem;
    color: black;
    margin-bottom: 2rem;
}

.wrapper .search-div{
    width: 50%;
    margin: auto;
    position: relative;
    padding: 3rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.wrapper .search-div input{
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: 500ms ease-in-out;
}

.wrapper .search-div input:focus,
.wrapper .search-div input:hover{
    background-color: rgba(135, 207, 235, 0.1);
}

.wrapper .search-div button{
    position: absolute;
    top: 4rem;
    right: 4rem;
    background-color: transparent;
    border: none;
}

.movies-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.movies-list .movie-card {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    color: var(--dark-gray);
}

.movies-list .movie-card img{
    width: 100%;
    object-fit: cover;
}


.pagenation{
    position: relative;
    padding: 3rem;
}

.pagenation div{
    margin: auto;
    width: fit-content;
    display: flex;
    gap: 3rem;
}

@media screen and (max-width:60rem) {
    html{
        font-size: 50%;
    }

    .movies-list{
        grid-template-columns: 1fr;
    }

    .upload-movie-btn{
        margin-right: 10rem;
        position: relative;
        top: 0.2rem;
    }

    .upload-movie-btn span{
        display: none;
    }
}