.group-1{
    position: relative;
}

main img.page-banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.wrapper{
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.wrapper .container{
    width: max-content;
    margin: auto;
}

.wrapper header img{
    vertical-align: middle;
    margin-right: 5rem;
    border-radius: 1rem;
    opacity: 0.8;
    width: 30rem;
}

.wrapper header .movie-details{
    display: inline-block;
    vertical-align: middle;
}

.wrapper header h1{
    font-size: 3rem;
    padding: 1rem;
}

.wrapper .movie-details .description{
    margin: 2rem auto;
}

.wrapper .movie-details p{
    padding: 0.5rem;
}

.wrapper .movie-details p strong{
    margin-right: 0.5rem;
}

.wrapper .movie-details .description p{
    padding: 2rem 0.5rem;
}

.trailer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
}

.trailer h4{
    padding-left: 1rem;
    color: white;
    text-shadow: 0 0 10px white;
}

.group-2{
    position: relative;
    padding: 1rem;
}

.related-movies{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    padding: 2rem;
}

.related-movies h2{
    font-size: 3rem;
    padding: 1rem;
}

.related-movies-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.related-movies-list .related-movie-card{
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
}

.related-movies-list .related-movie-card img{
    width: 100%;
    object-fit: cover;
}

.related-movies-list .related-movie-card h3{
    font-size: 2rem;
}

.related-movies .no-related-movie{
    padding: 2rem;
    font-size: 2rem;
}

@media screen and (max-width:60rem){
    html{
        font-size: 50%;
    }

    .wrapper{
        padding: 1rem;
    }

    .wrapper header img{
        margin: 0;
        width: 100%;
        max-width: 90dvw;
        object-fit: contain;
    }

    .wrapper header .movie-details{
        display: block;
    }

    .wrapper header h1{
        text-align: center;
    }

    .wrapper .movie-details .description{
        margin: 1rem auto;
    }
}