main{
    padding: 1rem;
}

h1{
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}

.celeb-links{
    display: flex;
    gap: 5rem;
}

.wrapper{
    background-color: white;
    border-radius: 1rem;
}

.wrapper .search-div{
    width: 50%;
    margin: auto;
    position: relative;
    padding: 3rem;
    margin-bottom: 5rem;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
}

.wrapper .search-div input{
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: 500ms ease-in-out;
}

.wrapper .search-div input:focus,
.wrapper .search-div input:hover{
    background-color: rgba(135, 207, 235, 0.1);
}

.wrapper .search-div button{
    position: absolute;
    top: 4rem;
    right: 4rem;
    background-color: transparent;
    border: none;
}

.wrapper .celebrities-container{
    position: relative;
}

.wrapper .celebrities-container .banner-celebrity{
    width: fit-content;
    display: block;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1rem;
}

.wrapper .celebrities-container .banner-celebrity h2{
    color: var(--dark-gray);
    text-align: center;
    font-size: 2.5rem;
}

.wrapper .celebrities-container .banner-celebrity img{
    max-width: 100%;
    width: 90rem;
    max-width:  50rem;
    object-fit: contain;
}

.wrapper .celebrities-container .celebrities-list{
    margin-top: 5rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    align-self: center;
}

.wrapper .celebrities-list .celebrity-card{
    background-color: rgba(135, 207, 235, 0.1);
    border-radius: 1rem;
    padding: 1rem;
}

.wrapper .celebrities-list .celebrity-card h2{
    color: var(--dark-gray);
    font-size: 2rem;
    text-align: center;
    display: block;
}

.wrapper .celebrities-list .celebrity-card img{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.wrapper .celebrities-list .celebrity-card img{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.pagenation{
    position: relative;
    padding: 2rem;
}

.pagenation div{
    margin: auto;
    width: fit-content;
    display: flex;
    gap: 3rem;
}