main{
    padding: 2rem;
}

.wrapper{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    padding: 2rem;
}

.wrapper h1{
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
    margin-bottom: 5rem;
}

.wrapper form .sections{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.wrapper form section.profile-img .images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.wrapper form section.profile-img .images img{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.wrapper form section.profile-img .images div{
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

.wrapper form section.profile-img .images .no-preview-msg{
    display: flex;
    height: 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wrapper form section.profile-img .images h5{
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

.wrapper form section.profile-img .images p{
    text-align: center;
}

.wrapper form .sections div{
    position: relative;
    margin-bottom: 2rem;
}

.wrapper form .input-icon{
    position: absolute;
    top: 3.3rem;
    opacity: 0.5;
    left: 1rem;
}

.wrapper form .sections input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1rem 1rem 1rem 4rem;
}

.wrapper form .sections input[type='file']{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    display: none;
}

.wrapper form .sections input:focus{
    border-color: skyblue;
    background-color: rgba(135, 207, 235, 0.1);
}

.wrapper form .sections label[for='id_profile_img']{
    background-color: skyblue;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    letter-spacing: 1px;
    /* cursor: pointer; */
    transition: opacity 500ms ease-in-out;
    width: 100%;
    display: block;
    text-align: center;
}

.wrapper form .sections label[for='id_profile_img']:hover,
.wrapper form button[type='submit']:hover{
    opacity: 0.5;
}

.wrapper form button[type='submit']{
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    transition: opacity 500ms ease-in-out;
}

@media screen and (max-width:60rem){
    html{
        font-size: 50%;
    }

    main{
        padding: 1rem;
    }

    .wrapper{
        padding: 1rem;
    }

    .wrapper h1{
        padding: 1rem;
    }

    .wrapper form .sections{
        grid-template-columns: 1fr;
    }

    .wrapper form section.profile-img .images{
        grid-template-columns: 1fr;
    }

    .wrapper form section.profile-img .images .no-preview-msg{
        height: auto;
    }
}