main{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80dvh;
}

.wrapper{
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    margin: 5rem auto;
    width: 40rem;
}

.container p{
    text-align: center;
    margin-top: 2rem;
}

@media screen and (max-width:60rem) {
    main{
        padding: 1rem;
    }
}