main{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80dvh;
}

.done-container{
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    width: 40rem;
}

.done-container h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.done-container p{
    text-align: center;
    margin-top: 2rem;
}

@media screen and (max-width:60rem) {
    main{
        padding: 1rem;
    }
}