main{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80dvh;
}

.wrapper{
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    width: 40rem;
}

.wrapper h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.wrapper p:first-child{
    text-align: center;
    margin-top: 2rem;
}

.wrapper form{
    margin-top: 3rem;
}

.wrapper div{
    margin-bottom: 2rem;
    position: relative;
}

.wrapper div .input-icon{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.wrapper form input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1rem 1rem 1rem 4rem;
}

.wrapper form input[type='password']{
    padding-right: 4rem;
}

.wrapper form input:focus{
    border-color: skyblue;
    background-color: rgba(135, 207, 235, 0.1);
}

.wrapper form div button{
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: transparent;
    border: none;
    transition: opacity 500ms ease-in-out;
}

.wrapper .loader{
    display: none;
}

.wrapper .error{
    background-color: red;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 0.2rem;
}

.wrapper .error p{
    color: white;
    text-align: center;
}

.terms{
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.wrapper button[type='submit']{
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    transition: opacity 500ms ease-in-out;
}

.wrapper button:hover{
    opacity: 0.5;
}

.wrapper fieldset{
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
    padding-top: 3rem;
}

.wrapper fieldset legend{
    text-align: center;
    padding: 0 0.2rem;
    letter-spacing: 0.2rem;
}

.wrapper fieldset p{
    text-align: center;
    margin-bottom: 1rem;
}

@media screen and (max-width:60rem) {
    main{
        padding: 1rem;
    }
}